In [17]:
import pandas as pd 
import requests

web = requests.get('https://www.sightwordsgame.com/counting-chart-numbers-1-to-100/')
dfs = pd.read_html(web.text)

In [19]:
dfs[1:]

[                 0                1                  2                 3  \
 0            1 one            2 two            3 three            4 four
 1        11 eleven        12 twelve        13 thirteen       14 fourteen
 2   21 twenty- one   22 twenty- two   23 twenty- three   24 twenty- four
 3   31 thirty- one   32 thirty- two   33 thirty- three   34 thirty- four
 4    41 forty- one    42 forty- two    43 forty- three    44 forty- four
 5    51 fifty- one    52 fifty- two    53 fifty- three    54 fifty- four
 6    61 sixty- one    62 sixty- two    63 sixty- three    64 sixty- four
 7  71 seventy- one  72 seventy- two  73 seventy- three  74 seventy- four
 8   81 eighty- one   82 eighty- two   83 eighty- three   84 eighty- four
 9   91 ninety- one   92 ninety- two   93 ninety- three   94 ninety- four

                   4                5                  6                  7  \
 0            5 five            6 six            7 seven            8 eight
 1        15 fifteen       16 sixteen       17 seventeen        18 eighteen
 2   25 twenty- five   26 twenty- six   27 twenty- seven   28 twenty- eight
 3   35 thirty- five   36 thirty- six   37 thirty- seven   38 thirty- eight
 4    45 forty- five    46 forty- six    47 forty- seven    48 forty- eight
 5    55 fifty- five    56 fifty- six    57 fifty- seven    58 fifty- eight
 6    65 sixty- five    66 sixty- six    67 sixty- seven    68 sixty- eight
 7  75 seventy- five  76 seventy- six  77 seventy- seven  78 seventy- eight
 8   85 eighty- five   86 eighty- six   87 eighty- seven   88 eighty- eight
 9   95 ninety- five   96 ninety- six   97 ninety- seven   98 ninety- eight

                   8                9
 0            9 nine           10 ten
 1       19 nineteen        20 twenty
 2   29 twenty- nine        30 thirty
 3   39 thirty- nine         40 forty
 4    49 forty- nine         50 fifty
 5    59 fifty- nine         60 sixty
 6    69 sixty- nine       70 seventy
 7  79 seventy- nine        80 eighty
 8   89 eighty- nine        90 ninety
 9   99 ninety- nine  100 one hundred  ]

In [26]:
dfs = dfs[1]

In [41]:
dfs[0][0]

'1 one'

In [40]:
d = {}
for j in range(len(dfs.columns)):
    for i in range(10):
        block = dfs[i][j]
        lst = block.split()
        if len(list) == 3:
            block.replace("- ", "")
            lst_new = block.split()
            d[lst_new[1]] = lst_new[0]
        else:
            d[lst[1]] = lst[0]

TypeError: object of type 'type' has no len()

In [35]:
dfs[1][0]

'2 two'